{% extends "floodgame_vr/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block content %}


        <div class="alert alert-warning alert-dismissible" role="alert">
    <div class="jumbotron alert-warning">

        <h1 class="display-4"><strong>{% trans "It is time for some research in VR" %}
</strong> </h1>
         <p class="lead"> {% trans "Please let the experimenter know that you are ready for the virtual reality experience." %}
  </p>
            <br><br> <br><br>
        <p style="text-align:center;"><img width="40%" src="{% static 'floodgame_vr/VR-icon.png' %}"/></p>

<br><br><br><br><br><br><br><br>
<br><br><br><br>

<br><br><br><br>
        <br><br><br><br>
        </div></div>

{% endblock %}