{% extends "floodgame_vr/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    {% trans "Welcome" %}
{% endblock %}


{% block content %}

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:5%;">
  <span class="sr-only">5% </span>
  </div>
</div>

<img width="100%" src="{% static 'floodgame_vr/banner_'|add:language_code|add:'.jpg' %}"/>

<br> <br>
<div class="card"> <div class="card-body"><p>
    {% blocktrans trimmed %}
        We invite you to participate in a survey about measures homeowners can take to reduce damages from flooding. <br>
        You do not need any experience with flooding or damage reducing measures to participate in this research.
    {% endblocktrans %}
<br> <br> <b>
{% blocktrans trimmed %}
    Note that throughout the survey, there is no button to go back to a previous page.
{% endblocktrans %}</b>
</p></div></div>

   <div class="card alert alert-info" role="alert"><div class="card-body"><p>
       {% blocktrans trimmed %}
           First two questions to confirm you are in the target group for this survey.
       {% endblocktrans %}
<br>
       <br> <strong>
       {% blocktrans trimmed %}
           Do you own the house or apartment you live in?
       {% endblocktrans %}
   </strong>

{% for field in form %}
       {% if field.name == "homeowner" %}</p><p>
           <div class="row">
           <div class="col-md-3">
           <input type="radio" required name="homeowner" value=True id="1">
           <label for="1">{% trans "Yes (homeowner)" %}  </label>
           </div>
           <div class="col-md-2">
           <input type="radio"  name="homeowner" value=False id="0">
           <label for="0">{% trans "No (tenant)" %}</label>
           </div></div>
              {% endif %}
       {% endfor %}
       <br><p><b>
       {% blocktrans trimmed %}
       What is your zipcode?
       {% endblocktrans %}


   </b></p>

{%  if session.config.language == 'es' %}
       <div class="row"><div class="col-md-2"><input class="form-control" name="zip_code_nrs" type="text" autocomplete="off" pattern="[0-9]{5}" placeholder="12345" required></div>

   {%  else %}

       <div class="row"><div class="col-md-2"><input class="form-control" name="zip_code_nrs" type="text" autocomplete="off" pattern="[0-9]{4}" placeholder="1234" required></div>
           <div class="col-md-2"><input class="form-control" name="zip_code_letters" autocomplete="off" placeholder="AB" pattern="[A-z]{2}" required></div>

   {% endif %}


           </div>

       </div>

   </div>
</p></div>

<button class="btn btn-primary btn-right btn-lg" >
{% trans "Next" %}
</button>
{{ form.errors }}
{% include 'snippets/InstructionsCounter.html' %}

{% endblock %}


