{% extends "floodgame_norms/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    {% trans "Informed consent" %}
{% endblock %}


{% block content %}

<div class="progress">
  <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:5%;">
  <span class="sr-only">5 % </span>
  </div>
</div>

<img width="100%" src="{% static 'floodgame_norms/banner_'|add:language_code|add:'.jpg' %}"/>

<br> <br>

   <div class="card alert alert-info" role="alert"><div class="card-body">
       <p> {% trans  "In this research we will collect some data." %}
       {% trans "Please find more information " %}
   <a class="alert-link" data-toggle="modal" data-target="#consentModal"><u>{% trans "here" %}</u></a>
{%  trans "about the procedures." %}</p>

           <!-- Modal -->
<div id="consentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="width:1000px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">{% trans "More information about this research" %} </h5>
              <button type="button" class="close" id="consent-button" data-dismiss="modal">&times;</button>
</div>
      <div class="modal-body">
          <div class="card-deck">
<div class="card-body"><p>
    {% trans "The goal of this research is to better understand flood damage reduction investments in Europe." %} <br><br>

    {% trans "Participation is voluntary." %} <br>
    {% trans "You can withdraw from the research at any moment."%}  <br><br>

    {% trans "Data will be stored anonymously at a local computer of Vrije Universiteit Amsterdam." %} <br>
    {% trans "Data will be analyzed by VU researchers and will not be used for commercial purposes." %} <br><br>


{% trans "If you finish the final survey, you are eligible for a large reward." %}
{% trans "The computer will randomly select one participant for the large reward." %}
    {% trans "This will take place after all participants have finished the survey, in October 2019." %}
    {% trans "If you are selected for large payment, Panelinzicht will contact you via email to arrange the payment." %}
    {% trans "The size of the reward (up to &euro;650) depends on your answers in this survey." %} <br><br>
    {% trans "In case you have questions about the research, feel free to send an email to:" %}
        {% blocktrans trimmed %}   <a href="mailto:info.ivm@vu.nl?subject=Question about IVM survey">info.ivm@vu.nl</a>
    {%  endblocktrans %}


</p></div>



</div>
      </div>
    </div>
  </div>
</div>






{% for field in form %}
       {% if field.name == "consent" %}

<div class="form-check">
            <input class="form-check-input" type="checkbox" required name="consent" value=True id="consent">
           <label for="consent" class="lead">{% trans "I have read the information and agree with participation in this research" %}</label>
           </div>
              {% endif %}
       {% endfor %}


       </div>

   </div>
<br>
</p>

<button class="btn btn-primary btn-right btn-lg">{% trans "Next" %}

</button>
{{ form.errors }}
{% include 'snippets/InstructionsCounter.html' %}

{% endblock %}


